/ColDetail.class
/ColName.class
/ColNotInNew.class
/ColNotInOld.class
/ConstraintDetail.class
/ConstraintNotInNew.class
/ConstraintNotInOld.class
/Constraints.class
/Datatype.class
/Difference.class
/IdxDetail.class
/Index.class
/IndexNotInNew.class
/IndexNotInOld.class
/KeyDetail.class
/KeyNotInNew.class
/KeyNotInOld.class
/Keys.class
/ReportStruct.class
/RowCount.class
/SchemaCompare$1.class
/SchemaCompare$2.class
/SchemaCompare$3.class
/SchemaCompare.class
/SchemaData$1.class
/SchemaData$2.class
/SchemaData.class
/SchemaStruct.class
/TableCount.class
/TableDetail.class
/TableName.class
/TableWithDiffCase.class
/TablesNotInNew.class
/TablesNotInOld.class
